@model UserTaskModel

<div class="col-md-4 task">

    <div class="card">

        <div class="card-body">

            <h4 class="card-title fw-bold text-decoration-underline">@Model.Title</h4>

            <p class="card-text">@Model.Description</p>

            <p>
                Status:
                @if (Model.Status == "To-Do")
                {
                    <span class="badge bg-secondary">@Model.Status</span>
                }
                else if (Model.Status == "In-Progress")
                {
                    <span class="badge bg-primary">@Model.Status</span>
                }
                else if (Model.Status == "Completed")
                {
                    <span class="badge bg-success">@Model.Status</span>
                }
            </p>

            <p>Created: @Model.CreatedDate.ToString("yyyy-MM-dd")</p>

            <p>Updated: @Model.UpdatedDate.ToString("yyyy-MM-dd")</p>

            <div class="d-flex justify-content-evenly mt-4" id="forms-container">

                <div class="w-50 text-center" id="edit-form">
                    <a asp-action="Edit"
                        asp-route-taskId="@Model.Id"
                        class="btn btn-edit btn-sm"
                        id="Edit-Btn"
                        data-id="@Model.Id">
                        Edit
                    </a>
                </div>

                <form id="remove-form"
                        class="w-50 text-center"
                        method="post"
                        asp-action="Remove"
                        asp-controller="TaskHome"
                        asp-route-taskId="@Model.Id"
                        asp-route-pageNumber="@ViewData["ActualPage"]">
                    @Html.AntiForgeryToken()
                    <div id="Remove-Section">
                        <button type="button" class="btn btn-remove btn-sm" id="Remove-Btn">Remove</button>
                    </div>
                </form>

            </div>

        </div>

    </div>

</div>
