@model UserTaskModel

<div class="col-md-4 task">

    <div class="card">

        <div class="card-body">

            <h4 class="card-title fw-bold text-decoration-underline">@Model.Title</h4>

            <p class="card-text">@Model.Description</p>

            <p>
                <strong>Status:</strong>
                @if (Model.Status == "To-Do")
                {
                    <span class="badge bg-secondary">@Model.Status</span>
                }
                else if (Model.Status == "In-Progress")
                {
                    <span class="badge bg-primary">@Model.Status</span>
                }
                else if (Model.Status == "Completed")
                {
                    <span class="badge bg-success">@Model.Status</span>
                }
            </p>

            <p> <strong> Created: </strong> @Model.CreatedDate.ToString("yyyy-MM-dd")</p>

            <p> <strong> Updated: </strong> @Model.UpdatedDate.ToString("yyyy-MM-dd")</p>

            <div class="d-flex justify-content-evenly mt-4 task-controls">

                <div class="w-50 text-center">
                    <a asp-action="Edit"
                        asp-route-taskId="@Model.Id"
                        class="btn btn-edit btn-sm edit-btn">
                        Edit
                    </a>
                </div>

                <form id="remove-form"
                        class="w-50 text-center remove-form"
                        method="post"
                        asp-action="Remove"
                        asp-controller="TaskHome"
                        asp-route-taskId="@Model.Id"
                        asp-route-pageNumber="@ViewData["ActualPage"]">
                    @Html.AntiForgeryToken()
                    <div id="Remove-Section">
                        <button type="button" class="btn btn-remove btn-sm remove-btn" id="Remove-Btn">Remove</button>
                    </div>
                </form>

            </div>

        </div>

    </div>

</div>
